<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">

        <div class="row mb-5">
            <div class="col-xl-1 col-lg-1"></div>
            <div class="col-xl-10 col-lg-10 icon-boxes d-flex flex-column align-items-stretch justify-content-center px-lg-5">
                <h3>Are you experiencing pain or other symptoms and not sure what they mean or what to do?</h3>
                <p>Check@m Symptom Checker guides you to the appropriate healthcare action: if you need 
                    to see a doctor or go to your nearest hospital or emergency department. It helps you understand 
                    the sevierity of your symptoms and possible precautions, and recommnedations.
                </p>
                <p>
                    With Symptom Checker you can find out:
                    <ul>
                        <li>What possible disease you have – advice on the next healthcare steps, whether it’s self-care, talking to a health professional, going to a hospital or something not to worry about</li>
                        <li>where to go – information on local healthcare services appropriate to the “The Predicated disease” advice</li>
                        <li>Book appoints with a doctor for further check-up and diagnosis</li>
                        <li>more about your symptoms – Precautions regarding what to do</li>
                    </ul>
                    If you think you have a medical emergency, immediately call your doctor or dial an emergency contact
                </p>
            </div>
            <div class="col-xl-1 col-lg-1"></div>
        </div>

        <div class="row mt-2">
            <div class="col-xl-6 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-3"
                    data-vbtype="video" data-autoplay="true">
                </a>
                    
            </div>

            <div
                class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <div class="icon-box">
                    <div class="icon"><i class='bx bxl-kickstarter'></i></div>
                    <h4 class="title"><a>Start</a></h4>
                    <p class="description">Login or Signup on Check@m.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class='bx bxl-react'></i></div>
                    <h4 class="title"><a>Symptom Checker</a></h4>
                    <p class="description">Enter Your Symptom or Symtoms if you are experiencing multiple symptoms.</p>
                    <p class="description"> Answer the related questions and get results</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class='bx bx-book-add'></i></div>
                    <h4 class="title"><a>Appointment</a></h4>
                    <p class="description">Find a near by service center. Make and Appointment</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class='bx bx-happy' ></i></div>
                    <h4 class="title"><a>Stay with us</a></h4>
                    <p class="description">Send Your Feed back</p>
                </div>

            </div>
        </div>

    </div>
</section><!-- End About Section -->