<section id="why-us" class="why-us">
        <div class="container mt-5">

            <div class="row">
                <div class="col-lg-2 d-flex align-items-stretch">
                    
                </div>
                <div class="col-lg-10 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 d-flex align-items-stretch">
                                <a href="{% url 'login_page' %}">
                                    <div class="icon-box mt-2 mt-xl-0">
                                        <i class='bx bxs-user-rectangle'></i>
                                        <h4>Patient</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-4  col-lg-4 d-flex align-items-stretch">
                                <a href="{% url 'login_page' %}">
                                    <div class="icon-box mt-2 mt-xl-0">
                                        <i class='bx bxs-user-badge' ></i>
                                        <h4>Doctor</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-4  col-lg-4 d-flex align-items-stretch">
                                <a href="/admin/">
                                    <div class="icon-box mt-2 mt-xl-0">
                                        <i class='bx bxs-user-circle'></i>
                                        <h4>Admin</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section>