<!-- ========= Symptom Checker tab ======= -->
<section id="symptom" class="counts">
    <div class="container">

        <div class="row mb-5">

            <div class="col-lg-6 col-md-6">
                <h3>Feeling unwell? Not sure if you need a doctor?
                    Symptom Checker can help you decide what to do next.
                </h3>
                <p>Answer some questions, get advice.</p>
            </div>

            <div class="col-lg-6 col-md-6 mt-5 mt-lg-0" style="text-align: center;">
                <div class="ml-2 mt-3">
                    <a href="{% url 'symptoms_view' %}" class="btn btn-outline-dark shadow m-3 p-2 rounded-0" style="margin: 0 auto; max-width: 300px; width: 100%; color:white; background:#1977cc;  background: linear-gradient(to bottom right, rgba(25,119,204), rgb(20, 94, 159), rgb(14, 67, 113), rgba(25,119,204,1));">
                        CHECK YOUR SYMPTOMS</a> 
                </div>
            </div>

        </div>
        <div class="row mt-5 py-1">

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="icofont-doctor-alt"></i>
                    <span data-toggle="counter-up">85</span>
                    <p>Doctors</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="icofont-patient-bed"></i>
                    <span data-toggle="counter-up">18</span>
                    <p>Departments</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="icofont-award"></i>
                    <span data-toggle="counter-up">150</span>
                    <p>Users</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Symtop Checker -->